html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
input,
textarea,
a,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  background-color: #ffffff; }
  .header__logo {
    margin-left: 90px;
    position: absolute;
    top: 30px;
    height: 40px; }
  @media (max-width: 699px) {
    .header {
      flex-direction: column;
      height: 140px; }
      .header__logo {
        margin: 0;
        position: relative; } }

.nav__list {
  margin-right: 90px;
  display: flex; }

.nav__item:first-child {
  margin-right: 30px; }

.nav__link {
  position: relative;
  padding: 20px;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.56px;
  color: #3d3d3d;
  transition: 0.15s; }
  .nav__link--active::after {
    position: absolute;
    left: calc(50% - 12px / 2);
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fdd000; }
  .nav__link:hover {
    color: #fdd000; }

@media (max-width: 699px) {
  .nav__list {
    margin: 0 0 20px; }
  .nav__link {
    font-size: 18px; }
    .nav__link::after {
      width: 8px;
      height: 8px; } }

.home {
  display: flex;
  height: calc(100vh - 120px);
  max-height: 1080px; }
  .home__left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100%;
    width: calc(100% - 40vw);
    background-image: url(../images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: end; }
  .home__calendar {
    width: 40vw;
    background-color: #272829; }
  .home__heading {
    margin: 128px 32px 40px 0;
    color: #FDD000;
    line-height: 48px;
    font-size: 40px;
    letter-spacing: 3.5px;
    text-transform: uppercase; }
  .home__text {
    margin-right: 32px;
    font-weight: 300;
    line-height: 32px;
    font-size: 24px;
    color: #DFDFDF;
    letter-spacing: 0.6px; }
  @media (min-width: 1920px) {
    .home__calendar {
      width: 695px; }
    .home__left {
      width: calc(100% - 695px); } }
  @media (max-width: 1099px) {
    .home {
      flex-direction: column;
      height: 600px; }
      .home__calendar, .home__left {
        width: 100%; } }
  @media (max-width: 599px) {
    .home {
      height: 500px; }
      .home__left {
        background-position: 30%; }
      .home__heading {
        margin: 70px 32px 32px; } }
  @media (max-width: 499px) {
    .home {
      height: 270px; }
      .home__left {
        text-align: center;
        align-items: center; }
      .home__heading, .home__text {
        margin: 0; }
      .home__heading {
        margin: 40px 32px 20px;
        line-height: 32px;
        font-size: 25px;
        letter-spacing: 2px; }
      .home__text {
        font-size: 20px;
        letter-spacing: 0.3px; } }

.calendar {
  width: 695px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  line-height: 23px;
  font-size: 16px;
  background: #272829;
  color: #dfdfdf; }
  .calendar__container {
    width: 330px; }
  .calendar__header {
    margin: 100px 0 15px;
    display: flex;
    justify-content: space-between; }
  .calendar__arrow {
    margin: 0 -5px; }
  .calendar__arrow .calendar__link-arrow::after {
    visibility: hidden; }
  .calendar__month-year {
    font-size: 18px;
    display: flex;
    cursor: context-menu; }
  .calendar__month {
    margin-right: 5px;
    text-transform: uppercase; }
  .calendar__list {
    width: 350px;
    margin-left: -10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between; }
  .calendar__day {
    position: relative; }
  .calendar__day--current .calendar__link {
    color: #3d3d3d;
    background-color: #fdd000;
    transition: 0.1s; }
    .calendar__day--current .calendar__link:hover {
      color: #ffffff; }
  .calendar__weekdays {
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    cursor: context-menu; }
  .calendar__hr {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #ffffff;
    opacity: 0.4; }
    .calendar__hr--up {
      margin-bottom: 25px; }
    .calendar__hr--down {
      margin-top: 25px; }
  .calendar__link {
    font-size: 14px;
    width: 20px;
    padding: 12px;
    color: #dfdfdf;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }
    .calendar__link-arrow {
      font-weight: 300;
      font-size: 30px; }
      .calendar__link-arrow::after {
        display: none; }
    .calendar__link--empty {
      opacity: 0.4; }
    .calendar__link:hover {
      color: #fdd000;
      cursor: pointer; }
      .calendar__link:hover::after {
        display: block; }
    .calendar__link::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      display: none;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fdd000; }
  @media (max-width: 1099px) {
    .calendar {
      width: 100%; }
      .calendar__header {
        margin-top: 50px; } }
  @media (max-width: 499px) {
    .calendar__container {
      width: 280px;
      margin-left: 0;
      margin-bottom: 40px; }
    .calendar__list {
      width: 300px; }
    .calendar__link {
      padding: 10px; } }

@media (min-width: 1920px) {
  .container {
    padding: 0 calc(50% - 1920px / 2); } }

.about {
  margin-bottom: 50px;
  padding: 3vh 15vw 0;
  color: #3D3D3D; }
  .about__heading {
    font-size: 28px;
    margin-bottom: 50px; }
  .about__paragraph {
    text-align: justify;
    margin: 16px 0;
    line-height: 32px;
    font-size: 16px;
    font-weight: 300; }
  @media (max-width: 699px) {
    .about {
      padding-top: 30px; }
      .about__heading {
        margin-bottom: 25px; } }

.popup__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 2;
  background-color: #fbfbfb;
  padding: 19px 17px 17px;
  display: flex;
  justify-content: space-between; }

.popup__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none; }

.popup__input {
  padding: 0 14px;
  width: 136px;
  color: #3D3D3D;
  font-size: 15px;
  font-weight: 600;
  outline: none;
  height: 36px;
  border: 1px solid #FDD000;
  background-color: #fbfbfb; }

.popup__month-container {
  margin-right: 16px; }

.popup__month, .popup__day {
  color: #A2A2A2;
  margin: 0 0 5px 2px;
  font-size: 14px;
  font-weight: 500; }

.popup__button {
  padding: 0;
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FDD000;
  transition: 0.1s; }
  .popup__button:hover {
    cursor: pointer;
    background-color: #3d3d3d;
    color: #ffffff; }

.popup.active .popup__overlay {
  display: block; }

.popup.active .popup__content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1); }

@media (max-width: 499px) {
  .popup.active .popup__content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(0.8); } }

body {
  font-family: 'Rubik', sans-serif; }

/*# sourceMappingURL=main.css.map */
